#footer {
  padding: 50px;
  transition: all $base-duration $base-timing;

  .footer-content {
    display: flex;

    .footer-div {
      width: $column-4;
    }
  }

  #footer-info {
    font-size: small;
  }

  #footer-icons {
    text-align: center;

    ul {
      display: inline-flex;

      li {
        padding: 0 14px;
      }
    }
  }
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  font-size: small;

  li {
    padding: 0 14px 0 0;
  }
}

// Responsive
@include bp(medium) {
  #footer {
    .footer-content {
      flex-direction: column;

      .footer-div {
        width: $column-12;
        margin-top: $base-point-grid * 3;
        text-align: center;
      }
    }
  }
  .footer-div {
    .nav-menu {
      justify-content: center;
    }
  }
}
