#main-section {
  border-bottom: solid 1px;
  display: flex;

  a:nth-child(2) {
    border-style: none solid none solid;
  }
  a:nth-child(3) {
    border-style: none solid none solid;
  }

  .feature-content {
    position: relative;
    &:hover {
      color: $white;
    }
  }

  .section {
    height: 300px;
    width: $column-3;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    .description {
      font-size: 1.2rem;
    }
  }

  #feature-content-noticias {
    transition: all 400ms ease;
  }

  #feature-content-noticias::after {
    background: url("../assets/img/nv-octavio.jpg");
    content: "";
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-position: 33% 34%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  #feature-content-noticias:hover::after {
    opacity: 0.8;
  }

  #feature-content-música {
    transition: all 400ms ease;
  }

  #feature-content-música::after {
    background: url("../assets/img/nv-paolo.jpg");
    content: "";
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
  }

  #feature-content-música:hover::after {
    opacity: 0.9;
  }

  #feature-content-media {
    transition: all 400ms ease;
  }

  #feature-content-media::after {
    background: url("../assets/img/nv-dani.jpg");
    background-position: 33% 57%;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
  }

  #feature-content-media:hover::after {
    opacity: 0.9;
  }

  #feature-content-contacto {
    transition: all 400ms ease;
  }

  #feature-content-contacto::after {
    background: url("../assets/img/nv-bambino.jpg");
    background-position: 33% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
  }

  #feature-content-contacto:hover::after {
    opacity: 0.9;
  }
}

// Responsive
@include bp(medium) {
  #main-section {
    flex-wrap: wrap;
    .section {
      width: $column-12;
    }
    a.section:not(:first-of-type) {
      border-top: solid 1px;
    }
  }
  
  body #main-section #feature-content-noticias::after {
    opacity: 0.8;
  }
  body #main-section #feature-content-música::after {
    opacity: 0.8;
  }
  body #main-section #feature-content-media::after {
    opacity: 0.8;
  }
  body #main-section #feature-content-contacto::after {
    opacity: 0.8;
  }
}
