#main-section {
  height: 300px;
  border-bottom: solid 1px;
  display: flex;

  div:nth-child(2) {
  border-style: none solid none solid;
  }
  div:nth-child(3) {
  border-style: none solid none solid;
  }

  .section {
    width: $column-3;
    border-width: 1px;
  }
}
