#masthead {
  position: relative;
  z-index: 5;
  height: 700px;
  font-size: 420%;
  padding: 20px;
  border-bottom: solid 1px;

  .container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 300px;
    width: 550px;
    margin-right: auto;
    margin-left: auto;

    .main-text {
      display: flex;
      flex-direction: column;
    }
  }
}

#masthead::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../assets/img/nv-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}
