#navbar {
  padding: 60px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  display: inline-flex;
  justify-content: space-between;
  transition: all 400ms ease;

  &.nav-scroll {
      background: rgba(#000, 0.85);
  }

  .nav-menu {
    display: inline-flex;

    li {
      margin: 0 20px;
    }
  }
}
