#navbar {
  padding: 20px 50px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  transition: all 400ms ease;

  &.nav-scroll {
    background: rgba(#000, 0.85);
  }

  .nav-menu {
    display: inline-flex;

    li {
      margin: 0 20px;
      a {
        font-size: 15px;
        &:hover {
          text-decoration: none;
          border-bottom: 2px solid;
        }
      }
      .active {
        border-bottom: 2px solid;
      }
    }
    li:last-child {
      margin-right: 0;
      padding-right: 0;
    }
    li:first-child {
      margin-left: 0;
      padding-left: 0;
    }
  }

  #nv-logo {
    width: 140px;
  }
}

// Responsive
@include bp(medium) {
  #navbar {
    display: flex;
    flex-direction: column;

    &.nav-scroll {
      background: rgba(#000, 0.95);
    }

    .nav-menu {
      margin-top: $base-point-grid;

      li {
        margin: 0 $base-point-grid;
        padding: 0 4px;
      }
    }
  }
}
