#news-header {
  position: relative;
  border-bottom: solid 1px;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url("../assets/img/news-header.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55%;
}


// Responsive
@include bp(medium) {
  #news-header {
    background-attachment: fixed;
    background-position: 40% 35%;
    background-size: contain;
    height: 48%;
  }
}