.news-wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  .article-card {
    margin: 60px auto;
    border-bottom: 1px solid;
    width: 90%;
  }

  .article-card-header {
    .article-date {
      color: $gray;
      text-align: left;
    }

    .post-title {
      text-decoration: none;
    }

    .article-image {
      margin: ($base-point-grid * 2) 0;
      max-width: 100%;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .article-title {
      font-size: 2rem;
      width: max-content;
      margin: 0 auto;
      min-height: $base-point-grid * 6;
      &:hover {
        border-bottom: 2px solid;
      }
    }

    p {
      text-align: left;
      padding-bottom: $base-point-grid;
      line-height: 1.8em;
      font-size: 15px;
      letter-spacing: 0.02em;
      a {
        text-decoration: underline;
        &:hover {
          color: $link-hover;
        }
      }
    }
  }
}

// Responsive
@include bp(medium) {
  .news-wrapper {
    .article-card {
      padding: 0 20px;
    }
  }
}
