// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------
html {
  box-sizing: border-box;
  font-size: $base-font-size;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// Typography
// -----------------------------------------------
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: $white;
  background: $black;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }

  &:active {
    color: $white;
  }
}
